*{
    margin: 0;
    padding: 0;
}


.roxo{
    width: 920px;
    height: 50px;
    display: flex;  
    position:relative;     
   justify-content: center; 
    top:-450px;
    
}


ul{
    list-style: none;
    padding: 0;margin: 0;
    display: flex;   
    justify-content:center;   
    position: relative; 
    flex-wrap: wrap;
    
  }
  
  li{
    width: 151px;
    height:45px ;
    border-top:  2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    margin: 0;
    padding: 0px; 
    border-radius:  10px 10px 0;

  }
  




.bt-ve {
    height: 46px;
    border-radius:  10px 10px 0 0;
    background:#1b742d;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   text-decoration: none;
    }
    
    .bt-vc {
        height: 46px;
        border-radius:  10px 10px 0 0;
    background:#93e057;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   text-decoration: none;
    }
    
    .bt-lr {
        height: 46px;
        border-radius:  10px 10px 0 0;
        background:#fd7935;
       display:flex;
       justify-content: center;
       align-items: center;
       font-size: small;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bolder;
       color: rgb(255, 255, 255);
       text-decoration: none;
    }
    
    .bt-al{
        height: 46px;
        border-radius:  10px 10px 0 0;
        background:#4675f1;
       display:flex;
       justify-content: center;
       align-items: center;
       font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   text-decoration: none;
    }

    .bt-pk {
        height: 47px;
        border-radius:  10px 10px 0 0;
        background:#bd0041;
       display:flex;
       justify-content: center;
       align-items: center;
       font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   text-decoration: none;
    }
    .bt-rx {
        height: 47px;
        border-radius:  10px 10px 0 0;
    background:#773756;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: small;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   text-decoration: none;
        }